build*/
__pycache__/

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.pem
*.crt
*.csr
*.key
tags
/.gdb_history
/log
*.autosave
/CMakeLists.txt.user
/benchmarks/runs/
