[submodule "extern/ABY"]
	path = extern/ABY
	url = https://git.compbiol.bio.tu-darmstadt.de/crisp/ABY.git
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/nlohmann/json
[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt
[submodule "extern/valijson"]
	path = extern/valijson
	url = https://github.com/tristanpenman/valijson.git
[submodule "extern/restbed"]
	path = extern/restbed
	url = https://github.com/Corvusoft/restbed
[submodule "extern/cxxopts"]
	path = extern/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "extern/curlpp"]
	path = extern/curlpp
	url = https://github.com/jpbarrette/curlpp
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog.git
